body {
    background-color: #000000;
}
.header {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    background-color: #000000;
}

.header img {
    height: 40px; /* Adjust the height to fit your design */
    width: auto;
    margin-right: 20px; /* Space between the icon and the buttons */
    cursor: pointer;
}

.header button {
    background: none;
    border: none;
    color: #bababa;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.header button:hover {
    text-decoration: underline;
    color: #ffffff;
}

.header button:focus {
    outline: none;
}

.main {
    display: flex;
    justify-content: center; /* Centers the container horizontally */
    align-items: center; /* Centers the container vertically */
    background-color: #000000;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

.text-container {
    max-width: 600px; /* Controls the width of the text block */
    width: 100%; /* Ensures the block doesn't exceed the max-width */
    text-align: left; /* Aligns text to the left within the block */
}

h1 {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
}

h2 {
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 10px;
}

.accordion-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:hover {
    background-color: #ffffff;
    color: #000000;
  }

  .accordion-body {
    background-color: #000000;
    color: #ffffff;
  }

  .accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: #000000;
  }
